In [1]:
#Import dependencies
import pandas as pd
import gmaps
import requests

#Import the API Key
from config import gkey

In [2]:
#Store the CSV you created and saved in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Robertsport,LR,2022-07-22 16:13:05,6.7533,-11.3686,78.76,80,80,14.76
1,1,Sahateni,RO,2022-07-22 16:13:05,45.0333,26.5167,94.41,18,28,5.41
2,2,Chuy,UY,2022-07-22 16:13:06,-33.6971,-53.4616,59.63,82,100,3.24
3,3,Tarbagatay,RU,2022-07-22 16:13:06,51.4803,107.3602,59.13,91,100,3.42
4,4,Hilo,US,2022-07-22 16:13:07,19.7297,-155.0900,74.28,100,39,1.99

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#Configure gmaps to use your Google API key.
gmaps.configure(api_key=gkey)

In [6]:
# #Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps=[]
# for temp in max_temp:
#     temps.append(max(temp,0))

In [24]:
#Heatmap of Temperature
#1.Assign the locations to an array of latitudes and longitude pairs
locations = city_data_df[["Lat" , "Lng"]]

#2.Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]

#3.Assign the figure variable to the gmaps.figure() attribute
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#4.Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False,
                                 max_intensity=300, point_radius=4
                                )

#5.Add the heatmap layer.
fig.add_layer(heatmap_layer)

#6.Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
#Heatmap of percent humidity
locations= city_data_df[["Lat" , "Lng"]]
humidity= city_data_df["Humidity"]
fig= gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
#Heatmap of percent cloudiness
locations=city_data_df[["Lat", "Lng"]]
cloudiness= city_data_df["Cloudiness"]
fig= gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
#Heatmap of wind speed
locations=city_data_df[["Lat", "Lng"]]
wind= city_data_df["Wind Speed"]
fig= gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
#Ask the customer to add a minimum and maximum temperature value.
min_pref_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_pref_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [35]:
#Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]<=max_pref_temp) &
                                       (city_data_df["Max Temp"]>=min_pref_temp)
                                      ]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Robertsport,LR,2022-07-22 16:13:05,6.7533,-11.3686,78.76,80,80,14.76
5,5,Alugan,PH,2022-07-22 16:13:07,12.2188,125.4808,80.67,82,87,0.18
11,11,Kyenjojo,UG,2022-07-22 16:13:09,0.6328,30.6214,75.67,42,80,4.85
20,20,Georgetown,MY,2022-07-22 16:13:13,5.4112,100.3354,77.90,96,76,2.04
21,21,Teknaf,BD,2022-07-22 16:13:13,20.8624,92.3058,80.73,86,100,7.36
27,27,Sao Filipe,CV,2022-07-22 16:13:15,14.8961,-24.4956,75.97,80,73,7.56
31,31,Kieta,PG,2022-07-22 16:13:16,-6.2167,155.6333,77.23,75,11,3.09
32,32,Jamestown,US,2022-07-22 16:11:37,42.0970,-79.2353,81.95,69,0,5.99
36,36,Rozivka,UA,2022-07-22 16:13:18,46.9385,35.7724,78.39,34,47,17.54
42,42,San Cristobal,VE,2022-07-22 16:13:20,7.7669,-72.2250,82.89,44,100,7.76

In [36]:
preferred_cities_df.count()

City_ID       151
City          151
Country       151
Date          151
Lat           151
Lng           151
Max Temp      151
Humidity      151
Cloudiness    151
Wind Speed    151
dtype: int64

In [37]:
#Create a DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City","Country","Max Temp","Lat","Lng"]].copy()
hotel_df["Hotel Name"]=""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0     Robertsport      LR     78.76   6.7533  -11.3686
5          Alugan      PH     80.67  12.2188  125.4808
11       Kyenjojo      UG     75.67   0.6328   30.6214
20     Georgetown      MY     77.90   5.4112  100.3354
21         Teknaf      BD     80.73  20.8624   92.3058
27     Sao Filipe      CV     75.97  14.8961  -24.4956
31          Kieta      PG     77.23  -6.2167  155.6333
32      Jamestown      US     81.95  42.0970  -79.2353
36        Rozivka      UA     78.39  46.9385   35.7724
42  San Cristobal      VE     82.89   7.7669  -72.2250

In [41]:
#Set parameters to search for a hotel
params = {"radius": 5000,
          "type": "lodging",
          "key": gkey
         }

#Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    #Add the latitude and longitude to location key for the params dictionary.
    params["location"]=f"{lat},{lng}"
    
    #Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    #Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params = params).json()
    
    #Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"]=hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [42]:
hotel_df.head(20)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Robertsport,LR,78.76,6.7533,-11.3686,Kwepunha Retreat
5,Alugan,PH,80.67,12.2188,125.4808,JM Lodge
11,Kyenjojo,UG,75.67,0.6328,30.6214,"Rainbow Guest House, Kyenjonjo"
20,Georgetown,MY,77.90,5.4112,100.3354,Cititel Penang
21,Teknaf,BD,80.73,20.8624,92.3058,Forestry Guesthouse
27,Sao Filipe,CV,75.97,14.8961,-24.4956,Hotel Xaguate
31,Kieta,PG,77.23,-6.2167,155.6333,Uruna Bay Retreat
32,Jamestown,US,81.95,42.0970,-79.2353,Hampton Inn & Suites Jamestown
36,Rozivka,UA,78.39,46.9385,35.7724,
42,San Cristobal,VE,82.89,7.7669,-72.2250,Pirineos
45,Faanui,PF,77.61,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
47,Tezu,IN,77.00,27.9167,96.1667,Circuit House
54,Takestan,IR,78.01,36.0696,49.6959,baghdadi hotelهتل و رستوران بغدادی
58,Jishou,CN,78.76,28.3167,109.7167,7 Days Inn
59,Marsa Matruh,EG,80.94,31.3525,27.2453,Beau Site
60,Atuona,PF,76.77,-9.8000,-139.0333,Villa Enata
61,Qui Nhon,VN,78.13,13.7667,109.2333,Seagull Hotel
62,Butaritari,KI,81.03,3.0707,172.7902,Isles Sunset Lodge
65,Sassandra,CI,79.79,4.9500,-6.0833,la terrasse
66,Bratslav,UA,81.00,48.8226,28.9407,Центр Брацлава

In [46]:
#Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

#Store the DataFrame Row.
hotel_info=[info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [48]:
#Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))